.todo-card{
    background-color: rgb(224, 224, 148);
    border: 1px solid black;
    margin: 10px;
    padding: 10px 15px ;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
}

.delete-icon{
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

@keyframes delete-ainmation{
    0%{
        transform: rotate(-25deg);
    }
    25%{
        transform: rotate(0deg);
    }
    50%{
        transform:rotate(25deg) ;
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-25deg);
    }
    } 
        
    .delete-icon:hover{
        height: 21px;
        animation-name:delete-ainmation ;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
    }

.category{
    position: absolute;
    top: 7px;
    right: 20px;
    background-color: rgb(82, 10, 10);
    color: white;
    font-size: 17px;
    padding: 2px 15px;
    border-radius: 20px;
}